@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chelsea+Market&display=swap');

.app-wrapper {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

.light {
  background-color: #ccffff;
  color: #6600cc;
}

.dark {
  background-color: #6600cc;
  color: #ccffff;
}

.title-text {
  font-family: 'Chelsea Market';
  letter-spacing: 1px;
}

.body-text {
  font-family: Anton;
  letter-spacing: 1px;
}

.large {
  font-size: 2.5rem;
}

.med {
  font-size: 1.5rem;
}

.small {
  font-size: .75rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.account-card {
  display: flex;
  align-items: center;
  width: 300px;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 25px;
  text-align: center;
}

.account-info {
  text-align: right;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 250px;
  height: 250px;
  border: 10px solid #ff9999;
}

.avatar:hover {
  cursor: pointer;
  border: 10px solid #ffcc99;
}

.top-right-absolute {
  position: absolute;
  top: 20px;
  right: 25px;
}

.top-left-absolute {
  position: absolute;
  top: 20px;
  left: 25px;
}

.top-left-absolute:hover, .top-right-absolute:hover {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  align-items: center;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

@media (max-width: 768px) {
  .container {
    padding: 75px 0;
  }

  .flex-row {
    flex-direction: column;
  }

  .account-card {
    margin-bottom: 25px;
  }
}
