@import url("https://fonts.googleapis.com/css2?family=Anton&family=Chelsea+Market&display=swap");

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes arrow {
  0% {
    transform: scale(1, 1) translateX(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateX(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateX(-5px);
  }
  50% {
    transform: scale(1.05, 0.95) translateX(0);
  }
  57% {
    transform: scale(1, 1) translateX(-2px);
  }
  64% {
    transform: scale(1, 1) translateX(0);
  }
  100% {
    transform: scale(1, 1) translateX(0);
  }
}

.app-wrapper {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  transition: 0.5s background-color ease;
}

.light {
  background-color: #ccffff;
  color: #6600cc;
}

.dark {
  background-color: #6600cc;
  color: #ccffff;
}

.title-text {
  font-family: "Chelsea Market";
  letter-spacing: 1px;
}

.body-text {
  font-family: Anton;
  letter-spacing: 1px;
}

.large {
  font-size: 2.5rem;
}

.med {
  font-size: 1.5rem;
}

.small {
  font-size: 0.75rem;
}

.center-text {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-height: Calc(100vh - 75px);
  margin: 0 auto;
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  overflow-x: hidden;
  min-height: 100vh;
  transition: 0.5s width ease-in-out;
}

.inner-modal {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.option-bar {
  width: 100%;
  height: 75px;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.account-card {
  display: flex;
  align-items: center;
  width: 300px;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 25px;
  text-align: center;
}

.account-info {
  text-align: right;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 250px;
  height: 250px;
  border: 10px solid #ff9999;
}

.avatar:hover {
  cursor: pointer;
  border: 10px solid #ffcc99;
}

.top-right-absolute {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  height: 50px;
}

.top-left-absolute {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 50px;
}

.top-left-absolute-block {
  position: absolute;
  height: 37.5px;
  top: 62.5px;
  left: 25px;
  width: 75px;
  z-index: 5;
  transition: 0.5s background-color ease;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  align-items: center;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.no-events {
  pointer-events: none;
}

.toggle {
  width: 75px;
  height: 75px;
  transition: 0.5s all ease;
  z-index: 10;
}

.toggle:hover {
  cursor: pointer;
}

.option {
  width: 50px;
  height: 50px;
  z-index: 10;
}

.opt-margin {
  margin-right: 20px;
}

.option:hover {
  cursor: pointer;
}

.rotate:hover {
  animation: rotation 2s infinite linear;
}

.arrow:hover {
  animation: arrow 2s infinite ease;
}

.input-dark,
.input-light,
.button-dark,
.button-light {
  font-family: "Chelsea Market";
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  border: 5px solid #ff9999;
}

.input-dark,
.button-dark {
  color: #6600cc;
  background-color: #ccffff;
}

.input-light,
.button-light {
  color: #ccffff;
  background-color: #6600cc;
}

.button-light:hover,
.button-dark:hover {
  cursor: pointer;
  border: 5px solid #ffcc99;
}

.input-light,
.input-dark {
  width: 90%;
  max-width: 500px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 75px 0;
    width: 90%;
  }

  .flex-row {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .account-card {
    margin: 0 0 25px 0;
  }

  .account-info {
    text-align: center;
  }

  .inner-modal {
    width: 90%;
    padding-top: 30px;
  }
}
